body {
    font-size: 25px;
    background-color: rgb(231, 174, 105);
    color: rgb(84, 3, 3);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    font-size: 20px;
    background-color: rgb(253, 243, 136);
    color: rgb(72, 3, 3);
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 50%;
}
